<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Oh young Do"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="29"></property>
    </bean>



    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
        <property name="movieName" value="VIP2"></property>
        <property name="actor" ref="actor"></property>
        <property name="id" value="99"></property>
    </bean>

    <bean xml:id="applicationContextAwareDemo" class="com.stackroute.awareInterface.ApplicationContexAwaretDemo">

    </bean>
    <bean id="beanFactoryAwareDemo" class="com.stackroute.awareInterface.BeanFactoryAwareDemo"></bean>

    <bean id="beanNameAwareDemo" class="com.stackroute.awareInterface.BeanNameAwareDemo"></bean>

    <bean id="resourceLoaderAwareDemo" class="com.stackroute.awareInterface.ResourceLoaderAwareDemo"></bean>

    <bean id="beanLifecycle" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy">
    </bean>


</beans>