<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <property name="name" value="Oh young Do"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="29"></property>
    </bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">
        <property name="name" value="Park Min Song"></property>
        <property name="gender" value="Female"></property>
        <property name="age" value="25"></property>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
        <property name="movieName" value="Royal Tailor"></property>
        <property name="actor" ref="actor"></property>
        <property name="id" value="99"></property>
    </bean>
</beans>